<% page_title "Unlock Account" %>
<% meta_description "Unlock your #{app_name} account by requesting a new unlock instructions email." %>

<div class="max-w-md mx-auto my-8">
  <h2 class="hd1-hero text-center">Resend unlock instructions</h2>

  <div class="form-container">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "form-section" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-field-group">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field" %>
      </div>

      <div class="form-field-group">
        <%= f.submit "Resend unlock instructions", class: "submit-button w-full" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
