<% content_for :title, "editing: #{@post.title} | #{app_name}" %>
<h1 class="hd1-hero">
  <%= @post.title %>
</h1>
<%= render "form", post: @post %>

<div class="border-t border-gray-200 mt-4 mb-2"></div>
<div class="action-bar py-0 my-4">
  <%= link_to "Show this post", @post, class: "action-link" %>
  <%= link_to "Back to posts", posts_path, class: "action-link" %>
  <%= button_to "Destroy this post", @post, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "action-link hover:text-red-600", data: { turbo_confirm: "Are you sure?" } %>
</div>

<%# No per-page notice flash here, nothing to remove %>