<% content_for :title, "All Posts | #{app_name}" %>

<%# Removed per-page notice flash, now handled globally in layout %>

<div>
  <h1 class="hd1-hero">All Post Entries</h1>
</div>

<div id="posts" class="min-w-full space-y-5">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="pb-5 sm:pb-0">
        <%= link_to post.title, post, class: "hd2 hover:text-green-600" %>
        <p class="text-xs text-gray-500 align-bottom">
          <%= post.published_status %>
          <% if post.user %>
            • By <%= post.user.full_name %>
          <% end %>
        </p>
        <div class="mt-2 mb-8 markdown-content">
          <%= markdown(truncate(post.body, length: 90)) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="text-center my-10">No posts created yet.</p>
  <% end %>
</div>

<div class="border-t border-gray-200 mt-4 mb-2"></div>
<div class="action-bar py-0 my-4">
  <%= link_to "New post", new_post_path, class: "action-link" %>
</div>