<% content_for :title, "All Posts | #{app_name}" %>

<%# Removed per-page notice flash, now handled globally in layout %>

<div class="flex justify-between items-center">
  <h1 class="hd1-hero">All Post Entries</h1>
  <%= link_to "New post", new_post_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
</div>

<div id="posts" class="min-w-full space-y-5">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="pb-5 sm:pb-0">
        <%= link_to post.title, post, class: "hd2 hover:text-green-600" %>
        <p class="text-xs text-gray-500 align-bottom">
          <%= post.published_status %>
          <% if post.user %>
            • By <%= post.user.full_name %>
          <% end %>
        </p>
        <p class="mt-2 mb-8"><%= truncate(post.body, length: 120) %></p>
      </div>
    <% end %>
  <% else %>
    <p class="text-center my-10">No posts created yet.</p>
  <% end %>
</div>