<% page_title "Admin All Users" %>
<% meta_description "Manage all users in the #{Rails.application.config.app_name} application." %>
<div class="mb-8">
  <h1 class="hd1-hero">Admin All Users</h1>
  <p class="mt-2 text-sm text-gray-700">Manage all users in the system.</p>
</div>

<div class="bg-white shadow overflow-hidden sm:rounded-md mb-6">
  <ul role="list" class="divide-y divide-gray-200">
    <% @users.each do |user| %>
      <li>
        <div class="px-4 py-4 flex items-center sm:px-6">
          <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
            <div>
              <div class="flex text-sm">
                <p class="font-medium text-indigo-600 truncate">
                  <%= link_to user.full_name, edit_admin_user_path(user), class: "hover:underline" %>
                </p>
                <p class="ml-1 flex-shrink-0 font-normal text-gray-500">
                  <% if user.is_admin? %>
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">Admin</span>
                  <% end %>
                </p>
              </div>
              <div class="mt-2 flex">
                <div class="flex items-center text-sm text-gray-500">
                  <p>
                    <%= link_to user.email, edit_admin_user_path(user), class: "hover:underline" %>
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-4 flex-shrink-0 sm:mt-0 sm:ml-5">
              <div class="flex overflow-hidden">
                <div class="flex space-x-2">
                  <%= button_to "Delete", admin_user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "inline-flex items-center px-3 py-1.5 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="border-t border-gray-200 mt-4 mb-2"></div>
<div class="action-bar py-0 my-4">
  <%= link_to "Back to Dashboard", admin_root_path, class: "action-link" %>
  <%= link_to "New User", new_admin_user_path, class: "action-link" %>
  <%= link_to "Manage Posts", admin_posts_path, class: "action-link" %>
</div>
